body{
    text-align: center;
    display: block;
    margin-left: 20%;
    margin-right:20%;
    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
}
form{
    text-align: center;
    display: block;
    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
}
h2{
    text-align: center;
    display: block;
    background-color: red;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid red;
    border-radius: 12px;
    padding: 5px;
}
div.Menu{
    text-align: center;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
    background-color: white;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: red;
}

.contacto {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.Menu {
    width: 200px;
  }
  
  .Menu a {
    background-color: #eee;
    color: black;
    display: flex;
    padding: 12px;
    text-decoration: none;
  }
  
  .Menu a:hover {
    background-color: #ccc;
  }
  
  .Menu a.active {
    background-color: red;
    color: white;
  }
  .Menu{
    align-self: auto;
  }
  body {
    background-image: url("https://img.freepik.com/foto-gratis/fondo-acrilico-abstracto-marmol-rojo-rosa-brillante_23-2148097528.jpg?t=st=1713885301~exp=1713888901~hmac=c595b4655c68ce88ffd177011207b382e5a935476b167422258215b95f216037&w=740");
  }
  p{
    background-color: white;
  }
  h1{
    background-color: red;
    
  }